* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
select,
textarea {
  font-family: "Poppins", sans-serif;
}

body {
  background: #e5e5e5;
}

body:before {
  top: 0;
  left: 0;
  width: 100%;
  content: "";
  z-index: -1;
  height: 368px;
  position: absolute;
  background: #121214;
}

.page {
  width: 736px;
  margin: auto;
}

header {
  width: 319px;
  margin-top: 74px;
}

header h1 {
  color: white;
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
  margin-bottom: 24px;
  font-family: "Archivo", sans-serif;
}

header p {
  font-size: 16px;
  color: #42d3ff;
  line-height: 26px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 64px;
  margin-top: 38px;
  min-height: 300px;
  background: #fafafc;
  border-radius: 8px 8px 0px 0px;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  gap: 24px;
  display: flex;
  flex-direction: column;
}

fieldset legend {
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  padding-bottom: 16px;
  font-family: "Archivo", sans-serif;
  border-bottom: 1px solid #e6e6f0;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper label,
.checkbox-wrapper label {
  font-size: 14px;
  color: #4e4958;
  line-height: 24px;
  margin-bottom: 8px;
}

.input-wrapper label span {
  font-size: 12px;
  color: #afaaba;
  margin-left: 12px;
  line-height: 20px;
}

.input-wrapper label span:hover {
  color: #6c6a71;
}

.input-wrapper input,
.input-wrapper textarea,
select {
  width: 608px;
  height: 56px;
  font-size: 16px;
  padding: 0 24px;
  font-weight: 400;
  color: #6c6a71;
  line-height: 26px;
  border-radius: 8px;
  background: #fafafc;
  box-sizing: border-box;
  border: 1px solid #e6e6f0;
}

.input-wrapper textarea {
  padding: 0;
  height: 168px;
}

.input-wrapper select {
  appearance: none;
  -ms-apperance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_54)'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_54'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right 24px top 50%;
}

.col-3 {
  display: flex;
  gap: 20px;
  width: 100%;
}

.input-wrapper input#event-date {
  width: 312px;
}

.input-wrapper input#event-begin,
.input-wrapper input#event-end {
  width: 128px;
}

.checkbox-wrapper label {
  display: flex;
  gap: 16px;
  align-items: center;
  display: flex;
  margin: 0;
}

.checkbox-wrapper {
  position: relative;
}

.checkbox-wrapper input {
  position: absolute;
  width: 24px;
  height: 24px;
  opacity: 0;
}

.checkbox-wrapper label::before {
  content: "";
  width: 24px;
  height: 24px;
  border: 1px solid #e6e6f0;
  border-radius: 8px;
}

.checkbox-wrapper input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_5004_23)'%3E%3Cpath d='M9 16.17L4.83 12L3.41 13.41L9 19L21 7L19.59 5.59L9 16.17Z' fill='%2342D3FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_5004_23'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.checkbox-wrapper input:focus + label::before {
  outline: 2px solid black;
}

footer {
  height: 136px;
  border-radius: 0px 0px 8px 8px;
  display: flex;
  background: #f0f0f4;
  flex-direction: column;
  padding: 40px 64px;
  margin-bottom: 100px;
}

footer .button {
  font-family: Archivo;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  border-radius: 8px;
  background: #04d361;
  color: white;
  height: 56px;
  border: none;
}

footer .button:hover{
  background: #05c059;
}